.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-wrp {
    width: 240px;
    height: 360px;
    border-radius: 5px;
    background-color: aqua;
  }
}